amqp
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
colorama
cron-descriptor
Django
django-celery-beat
django-timezone-field
joblib
kombu
numpy
pandas
prompt_toolkit
python-crontab
python-dateutil
python-decouple
pytz
redis
scikit-learn
scipy
six
sqlparse
threadpoolctl
tzdata
vine
wcwidth
