
__pycache__/
*.pyc
*.pyo

venv/
.env/
bin/
lib64/
share/


.idea/
.vscode/

.DS_Store
Thumbs.db

/include
/lib
/Scripts
/pyvenv.cfg

**/*.pyc
*pyc
**/__pycache__/

.env

db.sqlite3
*db.sqlite3
db.sqlite3

local.py
ai-assignment-submision-reminder_v_env/

/__pycache__/
__pycache__/
/.vscode/
__pycache__/
*.__pycache__
.env

media/